table {border: solid 5px lightseagreen;
    border-collapse: collapse;
    font-size: medium;
    empty-cells: show;
}

th, td {
    padding: 2px 8px;
    border: solid 1px lightseagreen;
}

tr:nth-child(odd) {
    background-color: #FFC; /* jaune */
}

table img {
    height: 12px;
}