.table {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
}

.table .header {
    font-weight: 600;
    background: #00000030;
}

.table .row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
}

.table .row:not(:first-of-type){
    border-top: 1px solid black;
}

.table .row:not(.header):nth-of-type(even) {
    background-color: #00000010;
}

.td {
    padding: 2px;
}

.table .row > *:not(:first-of-type) {
    border-left: 1px solid black;
}

