{% extends "base.twig" %}

{% block css %}
    <style>
        label {
            width: 150px;
            display: inline-block;
        }

        #content div {
            margin: 8px;
        }
    </style>
{% endblock %}

{% block contenu %}
<form class="block" action="" method="post">
    <input type="hidden" name="old" value="{{ module.code }}">

    <div>
        <label for="code">Code: </label>
        <input id="code" type="text" name="code" maxlength="8" value="{{ module.code }}">
    </div>

    <div>
        <label for="libelle">Libellé: </label>
        <input id="libelle" type="text" name="libelle" maxlength="20" value="{{ module.libelle }}">
    </div>

    <div>
        <label for="color">Couleur: </label>
        <input id="color" type="color" name="color" maxlength="8" value="{{ module.couleur}}">
    </div>

    <fieldset>
        <legend>Droits</legend>
        <input type="checkbox"                           id="admin" disabled checked><label for="admin">Administrateur</label><br>
        <input type="checkbox" name="droits[]" value="E" id="prof"   {% if 'E' in module.droits %}checked{% endif %}><label for="prof">Enseignant</label><br>
        <input type="checkbox" name="droits[]" value="T" id="tuteur" {% if 'T' in module.droits %}checked{% endif %}><label for="tuteur">Tuteur</label>
    </fieldset>

    <input type="submit" value="Enregistrer">


</form>
{% endblock %}