{% extends "base.twig" %}

{% block css %}
    <style>
        form div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 35px;
            margin: 8px;
            line-height: 35px;
        }
    </style>
{% endblock %}

{% block contenu %}

    <div class="block">
        <h2>Options</h2>
        <form method="post">
            <div>
                <label for="seancesMax">Nb maximum de séances affichées après filtrage</label>
                <input type="number" id="seancesMax" name="seancesMax" min="0" max="100" value="{{ seancesMax }}">
            </div>
            <div>
                <label for="eventsMax">Nb maximum d'évènement par séance</label>
                <input type="number" id="eventsMax" name="eventsMax" min="0" max="100" value="{{ eventsMax }}">
            </div>
            <div>
                <label for="pjMax">Nb maximum de pièces jointes par évènement</label>
                <input type="number" id="pjMax" name="pjMax" min="0" max="100" value="{{ pjMax }}">
            </div>
            <input type="submit" value="Enregistrer">
        </form>
    </div>

{% endblock %}