@import url('https://rsms.me/inter/inter.css');
@import url('items.css');
@import url('tooltip.css');

html {
    font-family: 'Inter', sans-serif;
    background-color: #ADBFCF;
}

@supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
}

body {
    z-index: 0;
    margin: 66px 0 0;
    overflow-x: hidden;
}

body.menu {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #a155d4;
    font-weight: 600;
    transition: background-color 0.1s linear;
}

/* block */

header, nav, .block {
    padding: 4px;
    background-color: #EFEFEF;
    border-radius: 10px;
    border: 1px solid #3A4476;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* header */

header {
    z-index: 20;
    position: fixed;
    top: 8px; left: 8px; right: 8px;
    border-radius: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header * {
    margin: 0;
    max-height: 48px;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    z-index: 20;
}

header > .center {
    flex-grow: 2;
}

header > .left {
    flex-grow: 1;
    text-align: left; }

header > .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}

header > .right > * {
    flex-grow: 0;
    align-self: center;
    flex-basis: auto;
}

.top-gradient {
    z-index: 9;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 72px;
    background: linear-gradient(#ADBFCF 25%, #ADBFCF00 75%);
}

/* Nav */

nav {
    z-index: 20;
    position: fixed;
    top: 74px;
    left: -340px;
    padding-left: 20px;
    bottom: 8px;
    width: 300px;
    transition: left 0.5s cubic-bezier(.17,.84,.44,1),
        margin 0.5s cubic-bezier(.17,.84,.44,1);
    display: flex;
    flex-direction: column;
}

body.menu nav {
    left: -25px;
}

nav div > * {
    padding: 8px 8px 8px 16px;
    display: block;
}

nav a:hover {
    background-color: #a155d420;
}

nav > div:not(:last-child) {
    border-bottom: 1px solid silver;
}

nav .anchor-top, nav .anchor-bottom {
    flex-grow: 0;
}

nav .options {
    flex-grow: 1;
    overflow-y: scroll;
}

nav .options a {
    color: black;
    font-weight: revert;
}

/* Shade */

.shade {
    z-index: 10;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgba(0,0,0,0.0);
    display: none;
}

body.menu .shade {
    display:block;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Content */
#content {
    padding: 8px;
    transition: transform 0.5s cubic-bezier(.17,.84,.44,1);

}

body.menu #content {
    transform: translateX(150px);
}

/* Footer */

footer {
    text-align: center  ;
}

/* =========== WIDESCREEN ========== */

@media screen and (min-width: 1280px) {
    #content {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}