a {
    text-decoration: none;
    color: #6d17a7;
    font-weight: 600;
    transition:
            background-color 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;
}

.button, input[type="submit"] {
    transition:
            background-color 0.1s ease-in-out,
            box-shadow 0.1s ease-in-out;
    border: 0;
    background-color: #5d426f;
    color: white;
    border-radius: 4px;
    padding: 4px 16px;
    margin: 4px 0;
    box-shadow: 0 1px 2px #00000050;
}

.button:hover, input[type="submit"]:hover {
    background-color: #6c4f7e;
    box-shadow: 0 2px 4px #00000050;
}

.button:active , input[type="submit"]:active {
    background-color: #352541;
    box-shadow: 0 1px 2px #00000050;
}

.button:disabled, input[type="submit"]:disabled {
    background-color: #a781b3;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
select{
    background-color: white;
    border: 1px solid #3A4476;
    border-radius: 4px;
    padding: 4px 6px;
    transition: transform 0.3s cubic-bezier(1,0,0,1),
    box-shadow 0.3s cubic-bezier(1,0,0,1);
}