.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .tooltiptext {
    top:30px;
    left:50%;
    transform:translate(-50%, 0);
    padding:5px 10px;
    color:#EEEEEE;
    background-color:#555555;
    font-weight:600;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    visibility:hidden; opacity:0;
    transition:opacity 0.5s;
    box-shadow: 0 3px 6px black;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility:visible; opacity:1;
}