{% extends "base.twig" %}

{% block css %}
    <style>
        label {
            width: 150px;
            display: inline-block;
        }

        #content div {
            margin: 8px;
        }
    </style>
{% endblock %}

{% block contenu %}
<form class="block" action="" method="post">
    <input type="hidden" name="old" value="{{ type.id }}">

    <div>
        <label for="libelle">Libellé: </label>
        <input id="libelle" type="text" name="libelle" maxlength="10" value="{{ type.libelle }}">
    </div>

    <fieldset>
        <legend>Droits</legend>
        <input type="checkbox"                           id="admin" disabled checked><label for="admin">Administrateur</label><br>
        <input type="checkbox" name="droits[]" value="E" id="prof"   {% if 'E' in type.roles %}checked{% endif %}><label for="prof">Enseignant</label><br>
        <input type="checkbox" name="droits[]" value="T" id="tuteur" {% if 'T' in type.roles %}checked{% endif %}><label for="tuteur">Tuteur</label>
    </fieldset>

    <input type="submit" value="Enregistrer">


</form>
{% endblock %}