<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Styles -->
    <link href="/style/base.css" type="text/css" rel="stylesheet"/>
    {% block css %}
    {% endblock %}

    <!-- Scripts -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        function toggleMenu(force = null) {
            let body = $("body");
            if (force != null)
            {
                if (force)
                    body.addClass("menu");
                else
                    body.removeClass("menu");
            }
            else {
                body.toggleClass("menu");
            }
        }
    </script>
    {% block js %}
    {% endblock %}

    <!-- Meta -->
    <title>{{titre}}</title>
    <meta charset="utf-8"/>
</head>

<body>

<div class="shade" onclick="toggleMenu(false)"></div>
<div class="top-gradient"></div>

<header>
    <div class="left"></div>
    <div class="center"><h1>{{titre}}</h1></div>
    <div class="right">
        <a href="/index.php"><img src="/images/di2009.gif" alt="Logo Université"/></a>
    </div>
</header>

<div id="content">
    {% block contenu %}
    {% endblock %}
</div>

<footer>
    {% block footer %}
    {% endblock %}
</footer>

</body>

</html>